<link rel="apple-touch-icon" sizes="180x180" href="https://cms.admin.containerize.com/templates/groupdocs/images/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="https://cms.admin.containerize.com/templates/groupdocs/images/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="https://cms.admin.containerize.com/templates/groupdocs/images/favicon-16x16.png">
<link rel="mask-icon" href="https://cms.admin.containerize.com/templates/groupdocs/images/safari-pinned-tab.svg" color="#5bbad5">
<link rel="shortcut icon" href="https://cms.admin.containerize.com/templates/groupdocs/images/favicon.ico">
<meta name="msapplication-TileColor" content="{{ $.Site.Params.meta.msapplication_TileColor }}">
<meta name="msapplication-config" content="{{ $.Site.Params.meta.msapplication_config }}">
<meta name="theme-color" content="{{ $.Site.Params.meta.theme_color }}">
<meta name="author" content="{{ $.Site.Params.meta.author }}"/>
<meta property="og:image" content="https://cms.admin.containerize.com/templates/groupdocs/img/logo.png">
<meta name=twitter:image content="https://cms.admin.containerize.com/templates/groupdocs/img/logo.png">