# This is a basic workflow to help you get started with Actions

name: qa-reference.groupdocs.com(watermark)(Stage) (BunnyCDN)

# Controls when the action will run. 
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches: [ main ]
    paths:
      - 'content/sites/groupdocs/watermark/**'
  pull_request:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: macos-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - name: Checkout
        uses: actions/checkout@v2
        with:
            submodules: true  # Fetch Hugo themes
            fetch-depth: 0    # Fetch all history for .GitInfo and .Lastmod
      - name: Checkout theme repo
        uses: actions/checkout@main
        with:
          repository: groupdocs/api-theme
          token: ${{ secrets.REPO_TOKEN }}
          fetch-depth: 0
          path: themes/api-theme      
      # Step 2 - Sets up the latest version of Hugo
      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v2
        with:
            hugo-version: '0.97.3'
            extended: true
      - name: Install Dependicies1
        run:  npm install -D --save autoprefixer
      - name: Install Dependicies2
        run:  npm install -D --save postcss-cli

      # Also specifies the theme we want to use
      - name: Build
        run: hugo --configDir config/sites/groupdocs/watermark --environment staging --minify

      - name: Sync to Ceph S3
        run: |
          aws s3 sync ./public/ s3://qa-reference-groupdocs-com/watermark/ \
            --endpoint-url https://s3-qa.dynabic.com \
            --acl public-read \
            --delete
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.CEPH_S3_QA_ACCESS_KEY }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.CEPH_S3_QA_SECRET_KEY }}
          AWS_DEFAULT_REGION: us-east-1
          AWS_ENDPOINT_URL: https://s3-admin-qa.dynabic.com

      - name: Purge BunnyCDN Cache
        run: |
          curl -siG \
            -H "X-Api-Key: ${{ secrets.BUNNY_API_KEY }}" \
            --data-urlencode "url=https://qa-reference.groupdocs.com/watermark" \
            "https://api.dynabic.com/bn/purge?async=true"
        

